# Database configuration for Docker
DB_USER=postgres
DB_PASSWORD=your_secure_local_password
DB_NAME=misp_db

# pgAdmin configuration for Docker
PGADMIN_EMAIL=admin@misp.com
PGADMIN_PASSWORD=your_secure_pgadmin_password