# ----------------------------------------
# FRONTEND DOMAIN OWNERSHIP
# ----------------------------------------
/apps/frontend/src/domains/user/      @Megan235
/apps/frontend/src/domains/accounts/  @CailinSmith
/apps/frontend/src/domains/services/  @Ayush-B99
/apps/frontend/src/domains/dispatch/  @marcelstolt00
/apps/frontend/src/domains/fieldops/  @g3rard-j
# ----------------------------------------
# BACKEND DOMAIN OWNERSHIP
# ----------------------------------------
/apps/backend/src/user/               @Megan235
/apps/backend/src/accounts/           @CailinSmith
/apps/backend/src/services/           @Ayush-B99
/apps/backend/src/dispatch/           @marcelstolt00
/apps/backend/src/fieldops/           @g3rard-j
